

.header{
  width: 60%;
  margin: auto;
  background-color: black;
  display: flex;


  justify-content: space-evenly;
  align-items: center;
}



.search_img{
  height: 30px;
}

.header_btn{
  background-color: rgb(128,128,128);
}

.header_text {
  color: white;
  font-size: 20px;
}

.header_inp{
  width: 70%;
  height: 30px;
  border-radius: 4px;
  outline: none;

  font-size: 25px;
}